{
  "presets": [[
    "@babel/preset-env", {
      "forceAllTransforms": true,
      "shippedProposals": true,
      "modules": false
    }
  ]],

  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
