{
  "presets": [[
    "@babel/preset-env", {
      "forceAllTransforms": true,
      "shippedProposals": true,
      "modules": false
    }
  ]],

  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ]
}
