{
  "root": true,
  "customSyntax": "postcss-scss",
  "extends": "stylelint-config-standard",

  "rules": {
    "declaration-empty-line-before": null,
    "media-feature-range-notation": null,
    "selector-no-qualifying-type": null,
    "comment-empty-line-before": null,
    "at-rule-empty-line-before": null,

    "rule-empty-line-before": null,
    "length-zero-no-unit": null,
    "function-name-case": null,
    "color-hex-length": null,
    "max-nesting-depth": 3,

    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "at-root", "content", "each", "else", "for",
        "function", "if", "mixin", "return", "use"
      ]
    }],

    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global", "export"]
    }]
  }
}
