@use "@scss/animations.scss";
@use "@scss/colors.scss" as Color;
@use "@scss/easings.scss" as Ease;

.logo {
  animation: fade-out 1s Ease.$out-quart 1.5s;
  box-shadow: 0px 0px 5px Color.$dark-gray;
  backdrop-filter: blur(5px);

  justify-content: center;
  pointer-events: none;

  justify-self: center;
  align-items: center;

  border-radius: 10px;
  position: absolute;
  padding: 25px 50px;

  height: 100px;
  width: 450px;

  display: flex;
  margin: auto;

  inset: 0;

  img {
    margin-right: 15px;
    max-width: 50px;
    height: auto;
  }

  h1 {
    font-family: "Roboto Mono", monospace;
    color: Color.$dark-gray;
    font-size: 20px;
  }

  @media only screen and (max-width: 767px) {
    padding: 20px 25px;
    max-width: 300px;

    height: 40px;
    width: 90vw;

    img {
      max-width: 40px;
    }

    h1 {
      font-size: 16px;
    }
  }
}
