@use "@scss/colors.scss" as Color;

.version {
  background-color: Color.$dark-gray;
  color: Color.$light-gray;

  pointer-events: none;
  padding: 3px 10px;
  font-size: 12px;

  position: fixed;
  display: block;

  bottom: 0;
  right: 0;
}
