*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  font-family: 'Inter', sans-serif;

  font-variant-ligatures: none;
  overscroll-behavior: contain;
  -webkit-touch-callout: none;
  backface-visibility: hidden;
  background-color: #222222;

  -webkit-user-select: none;
  -ms-overflow-style: none;
  text-size-adjust: none;
  letter-spacing: normal;

  line-height: normal;
  font-weight: normal;
  font-kerning: none;
  font-style: normal;

  user-select: none;
  appearance: none;
  overflow: hidden;

  max-height: 100%;
  min-height: 100%;

  max-width: 100%;
  min-width: 100%;

  font-size: 16px;
  color: #bbbbbb;

  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
}

#root {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.disabled-js,
.not-supported {
  text-align: center;
  position: absolute;

  cursor: default;
  display: none;
  z-index: 999;

  height: 100%;
  width: 100%;
}

.disabled-js .disabled-js-copy,
.not-supported .not-supported-copy {
  text-shadow: 0 0 10px #bbb;
  position: absolute;
  max-width: 625px;
  color: #bbb;

  height: 125px;
  margin: auto;
  width: 100%;

  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.not-supported .not-supported-copy {
  height: 95px;
}

.disabled-js .disabled-js-copy strong,
.not-supported .not-supported-copy strong {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 5px;

  margin-bottom: 30px;
  line-height: 25px;
  font-size: 20px;
  display: block;
}

.disabled-js .disabled-js-copy span,
.not-supported .not-supported-copy span {
  letter-spacing: 3px;
  line-height: 20px;
  font-size: 16px;
}

.not-supported .not-supported-copy span {
  max-width: 450px;
  display: block;
  margin: 0 auto;
}

.not-supported .not-supported-copy span a {
  background-color: #bbb;
  text-decoration: none;
  padding: 0 2px 0 5px;
  color: #222;
}

.not-supported .not-supported-copy span a:hover {
  letter-spacing: 2.5px;
  font-weight: bold;
}

.no-js .disabled-js,
.ms-ie .not-supported,
.no-webgl .not-supported,
.no-canvas .not-supported,
.no-history .not-supported,
.no-es5object .not-supported,
.no-canvastext .not-supported,
.no-csstransforms3d .not-supported,
.no-csspointerevents .not-supported {
  display: block !important;
}

.no-js #root,
.no-webgl #root,
.no-canvas #root,
.no-history #root,
.no-es5object #root,
.no-canvastext #root,
.no-csstransforms3d #root,
.no-csspointerevents #root {
  display: none !important;
}

@media (max-width: 767px) {
  .disabled-js .disabled-js-copy,
  .not-supported .not-supported-copy {
    max-width: 95%;
    height: 138px;
    width: 95%;
  }

  .not-supported .not-supported-copy {
    height: 110px;
  }

  .disabled-js .disabled-js-copy strong,
  .not-supported .not-supported-copy strong {
    letter-spacing: 0px;
    margin: 0 auto 25px;
    max-width: 290px;
    font-size: 18px;
  }

  .not-supported .not-supported-copy strong {
    max-width: 215px;
  }

  .disabled-js .disabled-js-copy span,
  .not-supported .not-supported-copy span {
    letter-spacing: 0px;
    line-height: 18px;
    max-width: 325px;

    font-size: 14px;
    display: block;
    margin: 0 auto;
  }

  .not-supported .not-supported-copy span {
    max-width: 230px;
  }

  .not-supported .not-supported-copy span a {
    letter-spacing: 1px;
  }

  .not-supported .not-supported-copy span a:hover {
    letter-spacing: 0.55px;
  }
}

::-moz-selection {
  background-color: #bbb;
  color: #222;
}

::selection {
  background-color: #bbb;
  color: #222;
}
